{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
            <!-- settings/maintenance-app.html -->
            <link rel="stylesheet" href="/static/assets/css/custom.css">
            <!-- settings/maintenance-app.html -->
{% endblock stylesheets %}

{% block body_class %}{% endblock %}

{% block content %}
                <!-- settings/maintenance-app.html -->
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
                    <div class="d-block mb-4 mb-md-0">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                                <li class="breadcrumb-item">
                                    <a href="#">
                                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                                    </a>
                                </li>
                            <li class="breadcrumb-item"><a href="#">Settings</a></li>
                            <li class="breadcrumb-item"><a href="#">Maintenance</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Application</li>
                            </ol>
                        </nav>
                        <h2 class="h4">Application Maintenance</h2>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-6">
                        <!-- Worker Manager Server settings -->
                        <div class="card">
                            <div class="card-header text-left">
                                <div class="d-flex">
                                    <h5 class="mx-auto w-100">
                                        Worker Manager Server Actions
                                        <span class="sidebar-icon">
                                            <a data-toggle="tooltip" title="The Worker Manager Server is the middle man inbetween OpenALPR-Webhook and the Redis server. It spawns and dismisses workers as needed.">
                                                <svg class="icon icon-xxs text-gray-400 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"></path>
                                                </svg>
                                            </a>
                                        </span>
                                    </h5>
                                    {% if wms_status  %}
                                    <a data-toggle="tooltip" title="Status: Running">
                                        <svg class="icon icon-sm" fill="#05A677" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                            <path clip-rule="evenodd" fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"></path>
                                        </svg>
                                    </a>
                                    {% else %}
                                    <a data-toggle="tooltip" title="Status: Not running">
                                        <svg class="icon icon-sm" fill="#E11D48" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                            <path clip-rule="evenodd" fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"></path>
                                        </svg>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>Shutdown: Shutting down the server is essential when performing a soft restart on the webserver. This makes sure that no worker turns to a zombie.</p>
                                        <br>
                                        <p>These actions are not needed when performing a system reboot.</p>
                                        <div class="d-flex justify-content-lg-between mt-4">
                                            <button type="button" class="btn btn-danger" onclick="stopWMS()">Shutdown</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Worker Manager Server actions -->
                    </div>
                </div>

                <!-- settings/maintenance-app.html -->
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
            <!-- settings/maintenance-app.html -->
            <script>
                // Reset report settings
                function stopWMS() {
                    Swal.fire({
                        title: "Are you sure?",
                        text: "Shutting down the Worker Manager Server will require a server restart",
                        showCancelButton: true,
                        icon: "warning",
                        cancelButtonText: "Cancel",
                        confirmButtonText: "Yes, shut it down!",
                        buttonsStyling: false, customClass: {cancelButton:'mb-2 me-2 btn btn-primary', confirmButton: 'mb-2 me-2 btn btn-danger'}
                    }).then((isConfirm) => {
                        if (isConfirm.isConfirmed) {
                            $.ajax({
                                type: 'POST',
                                url:  "{{ url_for('maintenance.shutdown_wms') }}",
                                async: true,
                                cache: false,
                                contentType: false,
                                processData: false,
                                beforeSend: function (){
                                    Swal.fire({
                                        text: 'Shutting down Worker Manager Server...',
                                        didOpen: () => {
                                            Swal.showLoading()
                                        },
                                    })
                                },
                                error : function(request,error) {
                                    Swal.fire( {icon: 'error', buttonsStyling: false, customClass: {confirmButton: 'btn btn-primary'},
                                        text: JSON.parse(request.responseText)['error']}).then(() => {
                                            location.reload();
                                        });
                                },
                                success : function(res) {
                                    Swal.fire( {icon: 'success', buttonsStyling: false, customClass: {confirmButton: 'btn btn-primary'},
                                        text: res['message']}).then(() => {
                                            location.reload();
                                        });
                                },
                                complete: function(){
                                    Swal.hideLoading()
                                }
                            })
                        }
                        return false;
                    });
                }
                // Tooltips
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();
                });
            </script>
            <!-- settings/maintenance-app.html -->
{% endblock javascripts %}
