{% extends "layouts/base-print.html" %}

{% block title %} Capture {{ license_plate['id'] }} License Plate {{ license_plate['best_plate_number'] }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                <!-- home/capture-print.html -->
                <div class="row justify-content-center" id="printThis">
                    <div class="col-12 col-xl-9">
                        <div class="card shadow border-0 p-4 p-md-5 position-relative">
                            <div class="row pb-md-4 mb-4 mb-md-5 border-bottom border-light">
                                <div class="col-6">
                                    <div class="d-flex">
                                        <div class="p-2">
                                            <embed class="image-md mb-4 imageshow org_logo" id="image-display" src="data:image/svg+xml;base64,{{ settings.logo }}" alt="Missing Logo">
                                        </div>
                                        <div class="p-2 align-self-center">
                                            <span><h3>{{ settings.org_name }}</h3></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex align-items-end flex-column">
                                        <div class="mt-auto p-2">
                                            <h1><strong>License Plate Report</strong></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-6 d-flex align-items-center justify-content-center">
                                {% if license_plate['uuid_jpg'] %}
                                    <img src="data:image/jpeg;base64,{{ license_plate['uuid_jpg'] }}" class="img-fluid" alt="{{ license_plate['best_plate_number'] }}">
                                {% elif license_plate['overview_jpeg'] %}
                                    <img src="data:image/jpeg;base64,{{ license_plate['overview_jpeg'] }}" class="img-fluid" alt="{{ license_plate['best_plate_number'] }}">
                                {% endif %}
                            </div>
                            <div class="row pb-md-4 mb-4 mb-md-5">
                                <div class="col-6">
                                    {% if license_plate['vehicle_crop_jpeg']  %}
                                        <img src="data:image/jpeg;base64,{{ license_plate['vehicle_crop_jpeg'] }}" class="img-thumbnail img-fluid" alt="{{ license_plate['best_plate_number'] }}">
                                    {% endif %}
                                    {% if license_plate['plate_crop_jpeg'] %}
                                        <img src="data:image/jpeg;base64,{{ license_plate['plate_crop_jpeg'] }}" class="img-thumbnail img-fluid" alt="{{ license_plate['best_plate_number'] }}">
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                    <div class="d-flex flex-column">
                                        <div class="p-2">
                                            <h1 class="display-1">
                                                {{ license_plate['best_plate_number'] }}
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mb-4 mb-md-5">
                                <div class="col-6">
                                    <h5>Agent Information</h5>
                                    <dl class="row text-sm-right">
                                        <dt class="col-3"><strong>Label:</strong></dt>
                                        <dd class="col-9">{{ license_plate['agent_label'] }}</dd>
                                        <dt class="col-3"><strong>UID:</strong></dt>
                                        <dd class="col-9">{{ license_plate['agent_uid'] }}</dd>
                                        <dt class="col-3"><strong>Version:</strong></dt>
                                        <dd class="col-9">{{ license_plate['agent_version'] }}</dd>
                                        <dt class="col-3"><strong>Type:</strong></dt>
                                        <dd class="col-9">{{ license_plate['agent_type'] }}</dd>
                                    </dl>
                                </div>
                                <div class="col-6">
                                    <h5>Camera Information</h5>
                                    <dl class="row text-sm-right">
                                        <dt class="col-6"><strong>Label:</strong></dt>
                                        <dd class="col-6">{% if cached_camera %}{{ cached_camera['camera_label'] }}{% else %}{{ license_plate['camera_label'] }}{% endif %}</dd>
                                        <dt class="col-6"><strong>ID:</strong></dt>
                                        <dd class="col-6">{% if cached_camera %}{{ cached_camera['camera_id'] }}{% else %}{{ license_plate['camera_id'] }}{% endif %}</dd>
                                        <dt class="col-6"><strong>GPS Latitude:</strong></dt>
                                        <dd class="col-6">{% if cached_camera %}{{ cached_camera['gps_latitude'] }}{% else %}{{ license_plate['gps_latitude'] }}{% endif %}</dd>
                                        <dt class="col-6"><strong>GPS Longitude:</strong></dt>
                                        <dd class="col-6">{% if cached_camera %}{{ cached_camera['gps_longitude'] }}{% else %}{{ license_plate['gps_longitude'] }}{% endif %}</dd>
                                        <dt class="col-6"><strong>Country:</strong></dt>
                                        <dd class="col-6">{% if cached_camera %}{{ cached_camera['country'] }}{% else %}{{ license_plate['country'] }}{% endif %}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mb-4 mb-md-5">
                                <div class="col-6">
                                    <h5>Capture Information</h5>
                                    <dl class="row text-sm-right">
                                        <dt class="col-4"><strong>Capture No.:</strong></dt>
                                        <dd class="col-8">{{ license_plate['id'] }}</dd>
                                        <dt class="col-4"><strong>Start Timestamp:</strong></dt>
                                        <dd class="col-8">{{ license_plate['epoch_start_datetime'] }}</dd>
                                        <dt class="col-4"><strong>End Timestamp:</strong></dt>
                                        <dd class="col-8">{{ license_plate['epoch_end_datetime'] }}</dd>
                                        <dt class="col-4"><strong>Epoch Start:</strong></dt>
                                        <dd class="col-8">{{ license_plate['epoch_start'] }}</dd>
                                        <dt class="col-4"><strong>Epoch End:</strong></dt>
                                        <dd class="col-8">{{ license_plate['epoch_end'] }}</dd>
                                        <dt class="col-4"><strong>Confidence:</strong></dt>
                                        <dd class="col-8">{{ license_plate['best_confidence_percent'] }}</dd>
                                        <dt class="col-4"><strong>Region:</strong></dt>
                                        <dd class="col-8">{{ license_plate['best_region'] }}</dd>
                                        <dt class="col-4"><strong>Travel Direction:</strong></dt>
                                        <dd class="col-8"><gg-icon class='gg-arrow-{{ license_plate['travel_direction_class_tag'] }}'></gg-icon>({{ license_plate['travel_direction'] }}°)</dd>
                                    </dl>
                                </div>
                                <div class="col-6">
                                    <h5>Vehicle Information
                                    <span class="sidebar-icon">
                                        <a data-toggle="tooltip" title="Percent (%) denotes confidence in identifying a particular attribute by Rekor Scout Agent.">
                                            <svg class="icon icon-xxs text-gray-400 me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path clip-rule="evenodd" fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"></path>
                                            </svg>
                                        </a>
                                    </span>
                                    </h5>
                                    <dl class="row text-sm-right">
                                        <dt class="col-3"><strong>Color:</strong></dt>
                                        <dd class="col-9">{{ license_plate['vehicle_color_name'] }} ({{ license_plate['vehicle_color_confidence'] }})</dd>
                                        <dt class="col-3"><strong>Year:</strong></dt>
                                        <dd class="col-9">{{ license_plate['vehicle_year_name'] }} ({{ license_plate['vehicle_year_confidence'] }})</dd>
                                        <dt class="col-3"><strong>Make:</strong></dt>
                                        <dd class="col-9">{{ license_plate['vehicle_make_name'] }} ({{ license_plate['vehicle_make_confidence'] }})</dd>
                                        <dt class="col-3"><strong>Model:</strong></dt>
                                        <dd class="col-9">{{ license_plate['vehicle_make_model_name'] }} ({{ license_plate['vehicle_make_model_confidence'] }})</dd>
                                        <dt class="col-3"><strong>Body Type:</strong></dt>
                                        <dd class="col-9">{{ license_plate['vehicle_body_type_name'] }} ({{ license_plate['vehicle_body_type_confidence'] }})</dd>
                                    </dl>
                                </div>

                            </div>
                            <div class="card-footer text-muted">
                                This report was generated by <a target="_blank" href="https://github.com/mibs510/OpenALPR-Webhook">OpenALPR-Webhook</a> at the request of {{ user_profile.full_name }} (<a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a>) on {{ date }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- home/capture-print.html -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
